/* Universal */

body {
  background-color: black;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: white;
}

h2 {
  font-family: white;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: gray;
}

a {
  color: aquamarine;
  font-size: 16px;
}

/* Header */

header {
  text-align: center;
}

/* Main */
main {
  text-align: center;
}

#video {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
}

#copyright {
  text-align: right;
}
